<!--This is an example configuration file from our use at Max Planck Institute for Intelligent Systems. We want to write the ROS image topics "overlay_output_left" and "overlay_output_right" that will be shown to the da Vinci surgeon console replacing the images acquired by the da Vinci stereo endoscope. We use a DeckLink Quad 2.-->

<launch>     

     <node pkg="hi_decklink_ros" type="subscriber" name="camera_left"  output="screen">
     	<param name="decklink_device" type="str" value="DeckLink Quad (4)" />
	<param name="image_format" type="str" value="HD1080i5994" />
	<param name="topic" type="str" value="overlay_output_left" />
	<param name="keying" type="bool" value="true" />
	<param name="opacity" type="int" value="255" />
     </node>

     <node pkg="hi_decklink_ros" type="subscriber" name="camera_right"  output="screen">
     	<param name="decklink_device" type="str" value="DeckLink Quad (3)" />
	<param name="image_format" type="str" value="HD1080i5994" />
	<param name="topic" type="str" value="overlay_output_right" />
	<param name="keying" type="bool" value="true" />
	<param name="opacity" type="int" value="255" />
     </node>

</launch>
